@font-face {
  font-family: "Artist Nouveau";
  src: url("@/assets/fonts/artist_nouveau/artist_nouveau.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  /* Потом расширить шрифт на другие форматы */
  /* src: url('@/assets/fonts/artist_nouveau.woff2') format('woff2'),
         url('@/assets/fonts/artist_nouveau.woff') format('woff'),
         url('@/assets/fonts/artist_nouveau.ttf') format('truetype'); */
}
