/* Здесь обозначаем максимально глобальные стили на весь проект */

@layer base {
  html {
    font-family: 'Shantell Sans', 'Roboto', cursive, sans-serif;
  }

  * {
    line-height: initial;
  }

  button,
  a {
    cursor: pointer;
  }

  a {
    cursor: pointer;
    /* color: var(--color-link); */
  }

  :deep(.ui-drawer),
  :deep(.ui-popover),
  :deep(.ui-drawer *),
  :deep(.ui-popover *) {
    font-family: inherit !important;
  }

  @apply scheme-light dark:scheme-dark;

  :where(:disabled, [disabled], [aria-disabled='true'], .disabled) {
    opacity: 0.2;
    cursor: not-allowed !important;
    user-select: none;
    box-shadow: none !important;
    outline: none !important;
    filter: grayscale(30%);
  }

  :where(a, [role='button']):where([aria-disabled='true'], .disabled) {
    pointer-events: none;
  }
}
