/* Здесь обозначаем максимально глобальные стили на весь проект */

@layer base {
  html {
    font-family: "ShantellSans", "Roboto";
  }

  * {
    line-height: initial;
  }

  button,
  a {
    cursor: pointer;
  }

  a {
    cursor: pointer;
    color: var(--color-link);
  }
}
