/* Здесь обозначаем максимально глобальные стили на весь проект */

@layer base {
  html {
    font-family: "Shantell Sans", "Roboto";
  }

  * {
    line-height: initial;
  }

  button,
  a {
    cursor: pointer;
  }

  a {
    cursor: pointer;
    /* color: var(--color-link); */
  }

  body {
    background-repeat: repeat;
    background-image: url("/images/bg_decors/woodTexture.webp");
    background-size: 23%;
  }

  :deep(.ui-drawer),
  :deep(.ui-popover),
  :deep(.ui-drawer *),
  :deep(.ui-popover *) {
    font-family: inherit !important;
  }
}
