@layer components {
  .divider {
    width: 1px;
    background: var(--color-text);
  }

  .avatar {
    border-radius: 100px;
    border: 2px solid var(--color-border);
    object-fit: cover;
  }

  .rating {
    @apply mt-2 flex items-center justify-center gap-1.5 text-xl font-semibold;
  }
}
