/* 
В этом слое, в теории, должны будут переопределяться стили сторонних библиотек и фреймворков, на практике обычно более глубокое переопределение требуется в связи с слишком "инкапсулированным" стилем библиотек.
*/

@layer frameworks {
}
