@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";
@import "./reset.css";
@import "./base.css";
@import "./theme.css";
@import "./frameworks.css";
@import "./components.css";
@import "./utilities.css";
@import "./overrides.css";

/* Я в шоке, но просто импортировать файлы css с @base/theme и т.п. для корректной работы нельзя, только вот такое извращение устроить */

@layer reset, base, theme, frameworks, components, utilities, overrides;
