@layer reset, base, theme, frameworks, components, utilities, overrides;

@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";
@import "./reset.css";
@import "./base.css";
@import "./theme.css";
@import "./frameworks.css";
@import "./components.css";
@import "./utilities.css";
@import "./overrides.css";

/* Проблемы
Я хз почему, но перекрытие стилей NUXT UI начинается только с файла utilities, хотя @import "@nuxt/ui" гораздо раньше.
*/
