@import "tailwindcss";
@import "./base.css";
@import "./theme.css";
@import "./components.css";
@import "./frameworks.css";
@import "./utilities.css";
@import "./overrides.css";
@import "./vars.css";
@import "./reset.css";
@import "@nuxt/ui";

@layer reset, base, theme, frameworks, components, utilities, overrides;
