@layer utilities {
  .-absVertCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .-absCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .-borderSimple {
    /* @apply border-primary border-[1px] border-solid; */
  }
}
