@layer utilities {
}

@utility -absVertCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@utility -absCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@utility -truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@utility shadow-element {
  box-shadow: var(--shadow-box-elements);
}
@utility shadow-text {
  box-shadow: var(--shadow-box-text);
}
@utility shadow-button {
  box-shadow: 2px 2px 0 var(--color-shadow);
}

@utility canEditWrapper {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    opacity: 0;
  }

  &::after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-neutral-light);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z'/%3E%3C/svg%3E");
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
  }
}
