@layer utilities {
}

@utility -absVertCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@utility -absCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@utility -truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@utility shadow-element {
  box-shadow: var(--shadow-box-elements);
}
@utility shadow-text {
  box-shadow: var(--shadow-box-text);
}
@utility shadow-button {
  box-shadow: 2px 2px 0 var(--color-shadow);
}
